.toggle-constainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-constainer img {
  background-color: transparent;
}

.toggle-icon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .slider {
  background-color: rgb(57, 56, 56);
}

.toggle-input:checked + .slider:before {
  transform: translateX(26px);
}
