@font-face {
  font-family: "CabinetGrotesk";
  src: url("../../../vendor/CabinetGrotesk-Medium.otf");
}

.card {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 326px;
  height: 323px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.card__image {
  border-color: #000000;
  border-radius: 20px;
  width: 100%;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 0;
  border: 4px;
  background-color: #ffffff;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  width: (73px);
  height: (24px);
  text-align: center;
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.6;
  gap: 8px;
}
